* {
    border: none;
    border-radius: 0;
    font-family: MesloLGS Nerd Font;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

#waybar {
    background: transparent;
    color: #e3e3ea;
    background-color: #19191e;
    font-family: MesloLGS Nerd Font;
    font-size: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
    font-size: 10px;
}

#workspaces button {
    transition: none;
    background: transparent;
    font-size: 10px;
    border-radius: 5px;
    color: #eceff4;
    padding: 1px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: white;
    border: 1px solid #d8dee9;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#language {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-launcher {
    margin-left: 15px;
    margin-right: 10px;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left: 5px;
    padding-right: 5px;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-power {
    margin-left:10px;
    margin-right:10px;
    font-size:12px;
}

#hardware {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

#custom-notification {
    font-family: "MesloLGS Nerd Font";
}

#custom-media {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 10px 10px;
    color: black;
    border-radius: 10px;
    margin-right: 5px;
}

#custom-media.custom-spotify {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#custom-media.custom-vlc {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#custom-media.custom-strawberry {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#privacy {
    border-radius: 10px;
    margin-right: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "MesloLGS Nerd Font"
    }
#privacy-item {
        font-family: "MesloLGS Nerd Font"
    }
#privacy-item.screenshare {
        font-family: "MesloLGS Nerd Font"
    }
#privacy-item.audio-in {
        font-family: "MesloLGS Nerd Font"
    }
#privacy-item.audio-out {
        font-family: "MesloLGS Nerd Font"
    }


#systemd-failed-units {
        font-family: "MesloLGS Nerd Font"
    }
#systemd-failed-units.ok {
        font-family: "MesloLGS Nerd Font"
    }
#systemd-failed-units.degraded {
        font-family: "MesloLGS Nerd Font"
    }

#custom-notification {
    border-radius: 10px;
    margin-right: 5px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #383c4a;
    color: #ffffff;
}